@import "../../styles/globals";

.container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 100%;
  padding-top: 36px;
  background-color: $secondaryColor;
  z-index: 5;

  &_exit {
    margin-left: auto;
    margin-bottom: 32px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;

    &_icon {
      font-size: 48px;
    }
  }

  &_form {
    width: 100%;
    display: flex;

    input {
      width: 100%;
      border-width: 1px;

      &:focus {
        width: 100%;
      }
    }

    button {
      background-color: transparent;
      box-shadow: none;
    }
  }
}
