@import "../../styles/globals";

.container {
  width: 100%;
  margin-top: 64px;

  @include sm {
    margin-top: 32px;
  }

  &__body {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    width: 100%;

    // @include sm {
    //   font-size: $fontSize_body_mobile;
    // }
  }
}
