@import "../styles/globals.scss";

.btn {
  height: $input_height;
  font-size: $fontSize_body_desktop;
  font-weight: 500;
  font-family: $font_stack;
  color: $whiteColor;
  background-color: $darkGoldColor;
  border-radius: $input_radius;
  border: none;
}
