@import "../styles/globals.scss";

.link {
  display: flex;
  align-items: center;
  gap: 8px;

  @include md {
    display: none;
  }

  li {
    font-weight: 300;
    font-size: 16px;
    font-family: $font_stack;
  }
}
