@import "../styles/globals";

.container {
  margin-top: 48px;
  background-color: $secondaryColor;
  border: 1px solid #222222;
  border-radius: 8px;
  box-shadow: inset 2px 2px 4px #1d1d1d, inset -2px -2px 4px #242424;

  &__wrapper {
    max-width: $max_width;
    width: 100%;
    margin: 0 auto;
    padding: 32px 75px 32px 75px;

    @include md {
      padding: 16px;
    }

    &__topbar {
      font-size: 14px;
      width: 100%;
      display: flex;
      justify-content: space-between;

      span {
        color: $grayColor;
        cursor: pointer;

        &:nth-child(2) {
          font-style: italic;
        }
      }
    }

    h2 {
      margin-top: 16px;
      font-weight: 600;
      font-size: $fontSize_headers_desktop;
      color: #c5a880;
      cursor: pointer;

      @include sm {
        font-size: $fontSize_headers_mobile;
      }
    }

    img {
      width: 100%;
      max-width: 600px;
      height: auto;
    }

    .container__wrapper__bottombar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 32px;
      color: $grayColor;
      // border: 1px solid red;

      @include sm {
        justify-content: center;
      }

      &__icon {
        display: block;
        font-size: 28px;
        cursor: pointer;

        &__facebook {
          font-size: 24px;
        }

        &__like {
          color: #58ae4a;

          &:hover {
            color: #18ad00;
          }
        }

        &__dislike {
          color: #ae4a4a;

          &:hover {
            color: #ae0505;
          }
        }

        &__comment {
          font-size: 24px;
          color: #dfa716;
        }
      }

      &__rates {
        display: flex;
        gap: 32px;

        @include sm {
          gap: 16px;
        }
      }

      &_iconContainer {
        display: flex;
        align-items: baseline;
      }

      span {
        margin-right: 4px;
      }
    }
  }
}
