@import "../styles/globals";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  width: 124px;
  height: 124px;
  font-size: $fontSize_body_desktop;
  font-weight: 500;
  background-color: $secondaryColor;
  box-shadow: 2px 2px 4px #1d1d1d, -2px -2px 4px #242424;
  cursor: pointer;

  &:hover {
    background-color: #4a4a4a;

    transform: scale(1.1);
    transition: 0.4s all ease;
  }

  @include sm {
    width: 108px;
    height: 108px;
    font-size: $fontSize_body_mobile;
  }

  &__active {
    background-color: #4a4a4a;
  }

  &_icon {
    transform: scale(0.85);
  }

  &:hover:not(&__active) {
    box-shadow: inset 2px 2px 4px #1d1d1d, inset -2px -2px 4px #242424;
  }
}
