@import "../../styles/globals.scss";

.input-default {
  width: 100%;
  height: 36px;
  padding-left: 8px;
  font-size: $fontSize_body_desktop;
  font-family: $font_stack;
  color: $grayColor;
  background-color: transparent;
  border: 1px solid $grayColor;
  border-radius: 4px;
  box-shadow: 0px 0px 8px rgba(141, 141, 141, 0.25);
  outline: none;

  &:focus:not(.input-secondary) {
    border: 1px solid $goldColor;
  }
}

.input-secondary,
.input-secondary-small {
  height: auto;
  font-size: 32px;
  font-weight: 500;
  color: $grayColor;
  border: none;
  border-bottom: 3px solid $darkGoldColor;
  background-color: transparent;
  box-shadow: none;
  border-radius: 0;

  &:focus {
    outline: 0;
  }
}

.input-secondary-small {
  font-size: 16px;
  font-weight: 400;
  border-bottom: 1px solid $darkGoldColor;

  &:focus {
    outline: 0;
  }
}
