@import "../../styles/globals.scss";

header {
  display: flex;
  width: 100%;
  height: $header_height;
  background-color: $secondaryColor;
  //box-shadow: 0px 8px 52px #222;
  @include sm {
    height: $header_height_sm;
  }

  .header_wrapper {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // padding: 0px 16px;
  }
}

.hamburgerMenuIcon {
  display: none;

  @include md {
    display: block;
  }
}
