@import "../../styles/globals.scss";

.list {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 32px;
  margin: 0;
  list-style: none;

  @include md {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 32px 0 48px 0;
    padding: 0;
    animation-name: slideOpacity;
    animation-duration: 0.35s;
    animation-timing-function: ease-in;
  }

  &_login {
    display: flex;
    gap: 16px;
    align-items: center;

    &_logoutIcon {
      margin-left: 8px;
      cursor: pointer;
    }
  }
}
