@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Poppins:wght@100;200;300;400;500&display=swap");

$font_stack: "Poppins", sans-serif;
$font_logo: "Great Vibes", cursive;
$fontSize_headers_desktop: 24px;
$fontSize_headers_mobile: 20px;
$fontSize_body_desktop: 16px;
$fontSize_body_mobile: 14px;

$max_width: 750px;
$header_height: 80px;
$header_height_sm: 64px;

$input_height: 36px;
$input_radius: 4px;

$primaryColor: #171717;
$secondaryColor: #1f1f1f;
$blackColor: #0f0f0f;
$whiteColor: #f0f0f0;
$grayColor: #adadad;
$goldColor: #c5a880;
$darkGoldColor: #8e744e;
$successColor: #029b1b;

$wrapper_padding: 28px;
$padding_vertical: 80px;
