@import "../../styles/globals.scss";

.loginReminder {
  font-size: 14px;
  color: #949494;

  &_link {
    font-weight: 500;
    color: $whiteColor;
  }
}

form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 50%;

  @include md {
    width: 100%;
  }

  button {
    margin-top: 32px;

    @include md {
      display: block;
      position: absolute;
      bottom: 0;
      left: $wrapper_padding;
      right: $wrapper_padding;
      bottom: var(--verticalPadding);
    }
  }
}
