@import "../../styles/globals.scss";

.container {
  display: flex;
  min-height: calc(100vh - #{$header_height});
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 24px;
  letter-spacing: 0.05rem;

  h2 {
    color: $whiteColor;
  }

  p {
    color: $grayColor;
  }

  &_link {
    width: 100%;
    margin-top: 64px;

    button {
      margin: 0 auto;
      width: auto;

      @include md {
        width: 100%;
      }
    }
  }
}
