@import "../../styles/globals.scss";

:root {
  --verticalPadding: 80px;
}

.container {
  width: 100%;
  min-height: calc(100vh - #{$header_height});
  background-image: url("../../assets/img/background-memes-desktop.png");
  background-repeat: no-repeat;
  background-position: top center;

  @include md {
    background-image: url("../../assets/img/background-memes-tablet.png");
  }

  @include sm {
    background-image: url("../../assets/img/background-memes-mobile.png");
  }

  &_wrapper {
    display: flex;
    flex-direction: row;
    padding: var(--verticalPadding) 0;
    gap: 54px;
    line-height: 128%;

    @include md {
      gap: 40px;
    }

    @include md {
      flex-direction: column;
    }

    &_intro {
      width: 50%;

      @include md {
        width: 100%;
      }
    }

    p {
      color: $grayColor;
    }
  }
}
